In [112]:
# import librarties
import pandas as pd 
import numpy as np
import math as mt
import os
from pathlib import Path
from scipy import stats as st
from matplotlib import pyplot as plt

# import data

game_df=pd.read_csv(r"C:/Users/robab/OneDrive/2025/Tripleten/Sprint 5/games.csv", index_col=0)
print(game_df.head())

                         Platform  Year_of_Release         Genre  NA_sales  \
Name
Wii Sports                    Wii           2006.0        Sports     41.36
Super Mario Bros.             NES           1985.0      Platform     29.08
Mario Kart Wii                Wii           2008.0        Racing     15.68
Wii Sports Resort             Wii           2009.0        Sports     15.61
Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing     11.27

                          EU_sales  JP_sales  Other_sales  Critic_Score  \
Name
Wii Sports                   28.96      3.77         8.45          76.0
Super Mario Bros.             3.58      6.81         0.77           NaN
Mario Kart Wii               12.76      3.79         3.29          82.0
Wii Sports Resort            10.93      3.28         2.95          80.0
Pokemon Red/Pokemon Blue      8.89     10.22         1.00           NaN

                         User_Score Rating
Name
Wii Sports                        8      E
Super Mario Bros.               NaN    NaN
Mario Kart Wii                  8.3      E
Wii Sports Resort                 8      E
Pokemon Red/Pokemon Blue        NaN    NaN

In [113]:
print(game_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 16715 entries, Wii Sports to Winning Post 8 2016
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         16715 non-null  object
 1   Year_of_Release  16446 non-null  float64
 2   Genre            16713 non-null  object
 3   NA_sales         16715 non-null  float64
 4   EU_sales         16715 non-null  float64
 5   JP_sales         16715 non-null  float64
 6   Other_sales      16715 non-null  float64
 7   Critic_Score     8137 non-null   float64
 8   User_Score       10014 non-null  object
 9   Rating           9949 non-null   object
dtypes: float64(6), object(4)
memory usage: 1.4+ MB
None

In [114]:
# check for white space
print(game_df.columns.tolist())

['Platform', 'Year_of_Release', 'Genre', 'NA_sales', 'EU_sales', 'JP_sales', 'Other_sales', 'Critic_Score', 'User_Score', 'Rating']

In [115]:
print(game_df.describe())

       Year_of_Release      NA_sales      EU_sales      JP_sales  \
count     16446.000000  16715.000000  16715.000000  16715.000000
mean       2006.484616      0.263377      0.145060      0.077617
std           5.877050      0.813604      0.503339      0.308853
min        1980.000000      0.000000      0.000000      0.000000
25%        2003.000000      0.000000      0.000000      0.000000
50%        2007.000000      0.080000      0.020000      0.000000
75%        2010.000000      0.240000      0.110000      0.040000
max        2016.000000     41.360000     28.960000     10.220000

        Other_sales  Critic_Score
count  16715.000000   8137.000000
mean       0.047342     68.967679
std        0.186731     13.938165
min        0.000000     13.000000
25%        0.000000     60.000000
50%        0.010000     71.000000
75%        0.030000     79.000000
max       10.570000     98.000000

In [116]:

#Replace the column names (make them lowercase) and remove whie sapece .
game_df.columns = (game_df.columns.
                     str.strip()
                     .str.lower())
                     # check for white space
print(game_df.columns.tolist())

['platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating']

In [117]:
# Check for duplicate entries
print(game_df.duplicated().sum())  # Number of duplicate rows
# View duplicate rows
print(game_df[game_df.duplicated()])  # Added missing closing parenthesis
# Remove duplicates
game_df = game_df.drop_duplicates().reset_index(drop=True)
# Confirm removal
print(game_df.duplicated().sum())  # Should return 0

1002
                                                   platform  year_of_release  \
Name
Ready 2 Rumble Boxing                                    PS           1998.0
Tiger Woods PGA Tour 2000                                PS           1998.0
SpongeBob SquarePants: Game Boy Advance Video V...      GBA           2004.0
Fighting Force 2                                         PS           1999.0
Winning Post                                           SNES           1993.0
...                                                     ...              ...
Strawberry Nauts                                        PSV           2016.0
Aiyoku no Eustia                                        PSV           2014.0
Samurai Warriors: Sanada Maru                           PS3           2016.0
Haitaka no Psychedelica                                 PSV           2016.0
Spirits & Spells                                        GBA           2003.0

                                                        genre  na_sales  \
Name
Ready 2 Rumble Boxing                                  Sports      0.60
Tiger Woods PGA Tour 2000                              Sports      0.37
SpongeBob SquarePants: Game Boy Advance Video V...       Misc      0.46
Fighting Force 2                                       Action      0.31
Winning Post                                           Sports      0.00
...                                                       ...       ...
Strawberry Nauts                                    Adventure      0.00
Aiyoku no Eustia                                         Misc      0.00
Samurai Warriors: Sanada Maru                          Action      0.00
Haitaka no Psychedelica                             Adventure      0.00
Spirits & Spells                                     Platform      0.01

                                                    eu_sales  jp_sales  \
Name
Ready 2 Rumble Boxing                                   0.41      0.00
Tiger Woods PGA Tour 2000                               0.25      0.00
SpongeBob SquarePants: Game Boy Advance Video V...      0.17      0.00
Fighting Force 2                                        0.21      0.00
Winning Post                                            0.00      0.53
...                                                      ...       ...
Strawberry Nauts                                        0.00      0.01
Aiyoku no Eustia                                        0.00      0.01
Samurai Warriors: Sanada Maru                           0.00      0.01
Haitaka no Psychedelica                                 0.00      0.01
Spirits & Spells                                        0.00      0.00

                                                    other_sales  critic_score  \
Name
Ready 2 Rumble Boxing                                      0.07           NaN
Tiger Woods PGA Tour 2000                                  0.04           NaN
SpongeBob SquarePants: Game Boy Advance Video V...         0.01           NaN
Fighting Force 2                                           0.04           NaN
Winning Post                                               0.00           NaN
...                                                         ...           ...
Strawberry Nauts                                           0.00           NaN
Aiyoku no Eustia                                           0.00           NaN
Samurai Warriors: Sanada Maru                              0.00           NaN
Haitaka no Psychedelica                                    0.00           NaN
Spirits & Spells                                           0.00           NaN

                                                   user_score rating
Name
Ready 2 Rumble Boxing                                     NaN    NaN
Tiger Woods PGA Tour 2000                                 NaN    NaN
SpongeBob SquarePants: Game Boy Advance Video V...        NaN    NaN
Fighting Force 2                                          NaN    NaN
Winning Post                                              NaN    NaN
...                                                       ...    ...
Strawberry Nauts                                          NaN    NaN
Aiyoku no Eustia                                          NaN    NaN
Samurai Warriors: Sanada Maru                             NaN    NaN
Haitaka no Psychedelica                                   NaN    NaN
Spirits & Spells                                          NaN    NaN

[1002 rows x 10 columns]
0

In [118]:
# Confirm removal
print(game_df.duplicated().sum())  # Should return 0
# Print a sample of data for users

print(game_df.sample(10, random_state = 55))

0
      platform  year_of_release         genre  na_sales  eu_sales  jp_sales  \
5971       PS2           2004.0      Platform      0.14      0.11      0.00
2317       PS2           2003.0        Sports      0.44      0.34      0.00
3984        GC           2004.0        Sports      0.38      0.10      0.00
10104      SAT           1997.0          Misc      0.00      0.00      0.11
3977      X360           2006.0        Racing      0.42      0.04      0.00
6018       PS2           2005.0  Role-Playing      0.07      0.05      0.15
12118      Wii           2009.0          Misc      0.06      0.00      0.00
7114       PSP           2005.0        Sports      0.20      0.00      0.00
4694       PS3           2014.0        Racing      0.07      0.26      0.02
9634      SNES           1996.0  Role-Playing      0.00      0.00      0.12

       other_sales  critic_score user_score rating
5971          0.04          68.0        8.5      E
2317          0.11          68.0        6.6      E
3984          0.01          82.0        8.9      T
10104         0.00           NaN        NaN    NaN
3977          0.04          89.0        8.1   E10+
6018          0.02          81.0        7.3      T
12118         0.00           NaN        tbd      E
7114          0.02          75.0        8.5      E
4694          0.06          62.0        4.1      E
9634          0.00           NaN        NaN    NaN

In [119]:
# to find missing values
print(game_df.isnull().sum())

platform              0
year_of_release     267
genre                 2
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
critic_score       7576
user_score         5776
rating             5842
dtype: int64

In [120]:
# check for data types
print(game_df.dtypes)

platform            object
year_of_release    float64
genre               object
na_sales           float64
eu_sales           float64
jp_sales           float64
other_sales        float64
critic_score       float64
user_score          object
rating              object
dtype: object

In [121]:
# To find what type of data dealing in each colum
print("Unique values in user_score:")
print(game_df['user_score'].value_counts(dropna=False))

#Option A: Convert to float64 (recommended for analysis):
# Replace 'tbd' with NaN, then convert to float
# Good for mathematical operations and statistical analysis
game_df['user_score'] = game_df['user_score'].replace('tbd', np.nan).astype('float64')
print(game_df['user_score'].dtype)  # Should now be float64

Unique values in user_score:
user_score
NaN    5776
tbd    2347
7.8     324
8       290
8.2     282
       ...
1.3       2
1         2
0.9       2
0         1
9.7       1
Name: count, Length: 97, dtype: int64
float64

###  Pay attention to the abbreviation TBD (to be determined). Specify how you intend to handle such cases.
#### 1- First of all TBD represents missing information, just like NaN (Not a Number
#### 2- Pandas handles NaN values consistently across all operations
#### 3- my suggestion is converted TBD to NaN and  then to float64 

#### Converting to float64 enables proper analysis:

   1- We  can calculate averages, medians, and other statistics
   2- we can create visualizations and correlations
   3- Mathematical operations work correctly
 4- Pandas automatically excludes NaN values from calculations

In [ ]:
# handel missing values in df
print(game_df.isnull().sum())